<section>
  <div class="hero__container">
    <div class="hero__left-side">
      <h1 class="hero__heading">
        Hi 👋,
        <span class="hero__heading-break">My name is</span>
        <span class="hero__heading-gradient">Oksana Kolisnyk</span>
        <span class="hero__heading-break">I build things for web</span>
      </h1>
    </div>
    <div class="hero__right-side">
      <img
        src="../../assets/hero/Oksana-Kolisnyk.jpg"
        alt="The image of Oksana Kolisnyk"
      />
    </div>
  </div>
</section>
