<section class="blog">
  <h2 class="blog__heading">Blog</h2>

  <div class="blog__sidebar-container">
    <div class="blog__swiper-container swiper-container">
      <div class="blog__slider-container swiper-wrapper">
        <app-blog-card
          *ngFor="let card of blogCardInfos"
          [blogCardsInfo]="card"
          class="blog__card swiper-slide"
        ></app-blog-card>
      </div>
    </div>
    <aside class="blog-card__container">
      <img src="../../assets/hero/Oksana_Kolisnyk.jpg" alt="ghhfghfg" />
      <p class="blog-card__p-side-description">My thoughts on IT: Sales, Marketing and Technology / Lifestyle. My thoughts on IT: Sales, Marketing and Technology / Lifestyle</p>
    </aside>
  </div>
</section>
