.work-experience__section {
  height: 4.4em;
  & .work-experience__h4-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6em;
    width: 38em;
    & h4 {
      color: var(--solid-heading);
      font-size: 1.2em;
      font-weight: var(--font-weight-400);
      line-height: 1.2;
      letter-spacing: 0.08em;
    }
    & .work-experience__btn {
      font-weight: var(--font-weight-600);
      font-size: 0.6em;
      width: 10em;
      background-color: var(--light-white);
      color: var(--solid-heading);
      border: none;
      box-shadow: 1px 2px 1px var(--dark-heading);
      border-radius: 30px;
    }
  }
  & .work-experience__div-outer {
    display: flex;
    justify-content: space-between;
    & .work-experience__div-project-location {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 24em;
      & .work-experience__p-location {
        margin-right: 1.6em;
      }
    }
    & p {
      color: var(--dark-heading);
      font-size: 0.75em;
      line-height: 2.2;
      letter-spacing: 0.08em;
    }
  }
}
.work-experience__line-below {
  height: 0.12em;
  background: var(--light-white);
}
