<section class="projects__section-container">
  <h2 class="projects__h2" id="projects">Projects</h2>
  <p class="projects__p">Things I've built so far</p>

  <!-- Swiper Container -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="projects__slider-container">
        <app-project-card
          *ngFor="let card of projectCardsInfo"
          [projectCardsInfo]="card"
          class="swiper-slide"
        ></app-project-card>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
