<header>
  <div class="nav-container">
    <div class="nav-logo">
      <a href="#">
        <img src="../../assets/header/logo.svg" alt="007 pavanmg" />
      </a>
    </div>
    <nav>
      <div class="nav-primary">
        <div>
          <ul class="nav-links">
            <li>
              <a href="#" class="nav-link">Home</a>
            </li>
            <li>
              <a href="#about" class="nav-link about">About</a>
            </li>
            <li>
              <a href="#stack" class="nav-link stack">Tech Stack</a>
            </li>
            <li>
              <a href="#projects" class="nav-link projects">Projects</a>
            </li>

            <li>
              <a href="#contact" class="nav-link contact">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="nav-logos absolute">
            <li>
              <a href="https://github.com/TEZv">
             <img src="../../assets/header/Github.svg" alt="">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/OksanaKolisnyk">
                <img src="../../assets/header/X.svg" alt="">
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/oksana-kolisnyk-0b9632247"
              >
              <img src="../../assets/header/linkedin.svg" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" onclick="toggleImage()" />
      <div class="slider round"></div>
    </label>
  </div>
  <div id="home"></div>
</header>
