<header class="header">
  <div class="header__nav">
    <div class="header__logo">
      <a href="#">
        <img
          src="../../assets/header/logo-header.jpg"
          alt="Oksana's Kolisnyk logo image"
          class="header__logo-image"
        />
      </a>
    </div>
    <nav>
      <div class="header__nav-container">
        <div>
          <ul class="header__nav-links">
            <li>
              <a [routerLink]="['/home']" class="header__nav-link">Home</a>
            </li>
            <li>
              <a
                [routerLink]="['/about']"
                class="header__nav-link header__nav-link-about"
                >About</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/tech-stack']"
                class="header__nav-link header__nav-link-stack"
                >Tech Stack</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/projects']"
                class="header__nav-link header__nav-link-projects"
                >Projects</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="theme-switch__div-wrapper">
    <label class="theme-switch__label" for="checkbox">
      <input type="checkbox" id="checkbox" onclick="toggleImage()" />
      <div class="theme-switch__div-slider theme-switch__div-slider-round"></div>
    </label>
  </div>
</header>
