.footer {
  & > img {
    margin-top: 1.6rem;
    margin-left: 2.4rem;
    width: 96%;
  }
  & .footer__logo {
    margin-top: 2.4em;
    margin-left: 1rem;
    & .footer__image {
      width: 100%;
      height: 55%;
      border-radius: 8px;
    }
  }
  & .footer__nav-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    & .footer__primary {
      display: flex;
      align-items: center;
      & .footer__container-link {
        margin-right: 5em;
      }
      & .footer__nav-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 8em;
      }
    }
  }
  & p span {
    color: var(--color-orchid);
  }
  & p span:first-child {
    background: linear-gradient(
      180deg,
      var(--color-midnight-blue) 2.06%,
      var(--color-orchid) 100%
    );
    background-clip: text;
    background: linear-gradient(
      -90deg,
      var(--color-midnight-blue) 2.06%,
      var(--color-orchid) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & p {
    color: var(--color-charcoal);
    font-size: 1.1em;
    margin-bottom: 0.7em;
    margin-right: 1.1em;
  }
  & .footer__container {
    display: flex;
    justify-content: space-between;
    height: 12em;
    margin-top: 5em;
    margin-bottom: -4em;
  }
  & .footer__nav-container {
    align-items: center;
    height: 1.5em;
    margin-top: 2.8em;
  }
  & .footer__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;
    & .footer__links-link {
      color: var(--color-dark-slate-blue);
      font-size: 1.1em;
    }
    & .footer__links-button {
      color: var(--color-dark-slate-blue);
      background-color: var(--color-white);
      font-size: 1.1em;
      border: none;
      padding: 0.4em;
      border-radius: 1em;
      cursor: pointer;
      &:hover {
        background: var(--color-charcoal);
        color: var(--color-white);
      }
    }
    & .footer__links-link-phone {
      margin-left: 2em;
    }
    & .footer__links-link-mail {
      color: var(--color-dark-slate-blue);
      margin-left: 4em;
    }
  }
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--transparent-background);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  & .form-container {
    background: var(--color-white);
    padding: 3em;
    border-radius: 0.5em;
    width: 90%;
    max-width: 42em;
    box-shadow: var(--box-shadow-deep);
    & .form-group {
      margin-bottom: 1em;
      & label {
        display: block;
        color: var(--color-dark-slate-blue);
        margin-bottom: 0.2em;
        font-weight: bold;
      }
      & input,
      & textarea {
        width: 100%;
        padding: 0.8em;
        border: 1px solid var(--color-light-grey);
        border-radius: 4px;
        &.is-invalid {
          border-color: var(--color-rose-pink);
        }
      }
      & .invalid-feedback {
        color: var(--color-orchid);
        font-size: 0.875em;
      }
    }
    & .form-buttons {
      display: flex;
      justify-content: space-between;
      & .submit-button,
      & .cancel-button {
        padding: 0.8em 1.2em;
        border: none;
        border-radius: 0.2em;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
      & .submit-button {
        background: var(--color-midnight-blue);
        color: var(--color-pistachio);
      }
      & .cancel-button {
        background: var(--color-pistachio);
        color: var(--color-dark-grey);
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .footer {
    width: 90%;
    & > img {
      margin-left: 5rem;
    }
    & .footer__logo {
      height: 35%;
      & .footer__image {
        margin-top: 1.8em;
        height: 85%;
        margin-left: 7.5em;
      }
    }
    & .footer__nav-primary {
      & .footer__primary {
        width: 80%;
      }
    }
    & .footer__links {
      width: 40em;
    }
  }
}
@media screen and (max-width: 992px) {
  .footer {
    width: 70%;
    margin-left: 6em;
    & p {
      margin-top: -3em;
      margin-right: -0.2em;
    }
    & .footer__logo {
      height: 44%;
      margin-top: 3em;
      & .footer__image {
        height: 75%;
        margin-right: 5em;
      }
    }
    & .footer__primary {
      width: 80%;
      & .footer__nav-logos {
        flex-direction: column;
        margin-right: 5em;
        margin-left: -5em;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: 50%;
    margin-left: 15.4em;
    & p {
      font-size: 0.8em;
    }
    & .footer__logo {
      height: 70%;
      margin-top: 3em;
      & .footer__image {
        height: 40%;
        width: 78%;
        margin-right: 5.6em;
      }
    }
    & .footer__primary {
      width: 80%;
      flex-direction: column;
      & .footer__nav-logos {
        flex-direction: row;
        font-size: 0.8em;
        margin-top: 10px;
      }
      & .footer__links {
        width: 30em;
        margin-right: -4em;
        & .footer__links-link {
          font-size: 0.8em;
        }
        & .footer__links-button {
          font-size: 0.8em;
          margin-left: 3em;
        }
        & .footer__links-link-mail {
          position: relative;
          right: 14em;
          top: 1.2em;
        }
      }
      & .footer__container-link {
        margin-top: -2.4em;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .footer {
    width: 40%;
    & .footer__logo {
      position: relative;
      top: -1em;
      left: 5em;
      & .footer__image {
        margin-right: 5.6em;
      }
    }
    & .footer__primary {
      width: 80%;
      flex-direction: column;
      & .footer__nav-logos {
        flex-direction: column;
        font-size: 0.8em;
        padding-right: 2.4em;
      }
      & .footer__links {
        & .footer__links-button {
          margin-left: 12em;
        }
        & .footer__links-link-mail {
          right: 16em;
        }
        & .footer__links-link-phone {
          margin-right: 1em;
        }
        & .footer__links-link-blog {
          position: relative;
          top: 1.6em;
          right: 10em;
        }
      }
    }
  }
}
