:root {
  --color-silver: #ebeaed;
  --color-pistachio: #c7cba4;
  --color-pistachio-light: #faffb717;
  --color-dark-black: #000;
  --color-black: #000;
  --color-white: #fff;
  --color-orchid: #982fee;
  --color-lavender: #a270ff;
  --color-midnight-blue: #000255;
  --color-charcoal: #666;
  --color-rose-pink: #871781;
  --color-light-grey: #ccc;
  --color-pale-yellow-transparent: #e0e0b231;
  --color-pale-mint: #d7ffe0;
  --color-dark-grey: #a7a7a7;
  --color-dark-slate-blue: #42446e;
  --box-shadow-deep: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  --transparent-background: rgba(0, 0, 0, 0.5);
  --border-outline: none;
  --border-inline: none;
  --ff-body: "Poppins", sans-serif;
  --ff-header-nav-links: "DM Sans", sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
/* Dark mode styles */
.dark-mode {
  --color-pistachio-light: #d4dd5a17;
  --color-silver: #333; 
  --color-pistachio: #161616; 
  --color-black: #2a7e3ecb;
  --color-white: #21573994;
  --color-orchid: #a648f3;
  --color-lavender: #d7ffe0;
  --color-midnight-blue: #3fb65bcb;
  --color-charcoal: #babe;
  --color-pale-mint: #21573994;
  --color-dark-slate-blue: #cacba4;
  --box-shadow-deep: 2px 2px 20px 0px rgb(215, 255, 224, 0.25);
  --border-inline: 1px dashed #d7ffe0;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: var(--ff-body);
  background-color: var(--color-pistachio);
}
a {
  text-decoration: none;
  &:hover {
    color: var(--color-midnight-blue) !important;
  }
  &:focus {
    color: var(--color-midnight-blue) !important;
    text-decoration: line-through;
  }
}
li {
  list-style-type: none;
}